@import url(reset.css);
@import url(fonts.css);
.center{
    width: 1105px;
}
*{
    font-family: 'Lato-Regular';
}
.header{
    height: 782px;
   
}
.header_bg_img,
.header_bg_span{
    position: absolute;
    left: 0;
    top: 0;
   
}
.header_bg_img{
    object-fit: cover;
}
.header_bg_span{
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}
.header_top{
    margin-top: 17px;
    height: 100px;
}
.logo img{
    width: 172px;
    height: 29px;
    object-fit: cover;
}
.header_menu{

}
.header_menu li:not(:last-child){
 margin-right: 10px;
}
.header_menu li a{
text-transform: uppercase;
font-size: 14px;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #FFFFFF;
}
.header_menu li a.active{
font-family: 'Lato-Bold';
}
.lang_menu{

}
.lang_menu li{
    display: flex;
    align-items: center;
}
.lang_menu > li::after{
    position: relative;
    content:'' ;
    width: 30px;
    height: 30px;
    background-image: url(images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    transition: transform 0.2s;
}
.lang_menu > li:hover::after{
    transform: rotate(180deg);
}
.lang_menu li a{
    display: flex;
    align-items: center;
}
.lang_menu li a img{
    width: 32px;
    height: 32px;
    object-fit: cover;
}
.lang_menu li a span{
    margin-left: 11px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
.login_btn{
    margin-left: 26px;
    padding: 11px 28px 12px 29px ;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    transition: all 0.5s;
}

.login_btn:hover{
    border-color: rgba(213,32,71,1);
    background-color: rgba(213, 32, 71, 0.8);
}
.lang_menu li:hover .sub_langs{
    display: flex;
}
.sub_langs{
    display: none;
    position: absolute;
    left: 0;
    top:100%
}
.sub_langs li{
    padding: 5px 0;
}
.sub_langs li a{
    color: rgba(213, 32, 71, 1);
}
.header_middle{
 margin-top: 140px;
}
.header_middle h3{

font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 86px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;
}
.header_middle p {
   margin-top: 39px;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150%;
/* or 36px */
max-width: 450px;
text-align: center;

color: #FFFFFF;

}
.header_middle a{
    margin-top: 39px;
    padding: 17px 53px;
    border-radius: 6px;
    background-color: #fff;
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #ed4c5c;
transition: all 0.5s;
}
.header_middle a:hover{
    background-color:transparent ;
    color: #fff;
    border:#fff
}
.video_section{
    padding:95px 0 ;
}
.video_section_left{
 width: calc(100% - 445px);
 padding-right: 125px;
}
.video_section_left h4{
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.video_section_left p{
margin-top: 24px;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.4;
letter-spacing: normal;
text-align: justify;
color: #000000;
}
.video_section_left a{
margin-top: 15px;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.4;
letter-spacing: normal;
text-align: justify;
color: #ed4c5c;
transition: all 0.5s;
}
.video_section_left a:hover{
    color:white ;
}
.video_section_right{
    width: 445px;
    height: 311px;
}
.video_section_left img{
object-fit: cover;
border-radius: 10px;
}
.video_play_btn{
    position:absolute;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    left: -33px;
    top: 50%;
    transform:translateY(-50%) ;
    background-image: url(images/play_btn.svg);
    background-color: #ed4c5c;
    background-position: center;
    background-repeat: no-repeat;
}
.featured_section{
    background-color:#fafafa ;
    padding-top: 63px;
    padding-bottom: 123px;
}
.section_title{
font-size: 36px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #000000;
}
.featured_list{
margin-top: 63px;
}
.featured_list li{
margin-right: 30px;
width: 350px;
display: flex;
flex-direction: column;
align-items: center;
}
.featured_list li:nth-child(3n+3){
margin-right: 0;
}
.featured_list li img{
height: 250px;
object-fit: cover;
}
.featured_item_bottom{
    padding: 32px;
    width: 293px;
    border-radius: 8px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-top: -100px;
}
.featured_item_bottom h3{
font-size: 18px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #101010;
}
.featured_item_bottom p{
  margin-top: 20px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #101010;
}
.featured_item_bottom a{
margin-top: 5px;
font-size: 12px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: center;
color: #ed4c5c;
}
.footer{
padding: 85px 0;
background-color: #fafafa;
}
.footer_menu_list{

}

.footer_menu_list li:last-child{
    margin-right: 0;
}
.footer_menu_list li h3{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
    color: #101010;
    margin-bottom: 33px;
}
.footer_menu_list li a,
.footer_menu_list li p{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
    margin-bottom: 11px;
}
.footer_menu_list li a{
    text-transform: capitalize;
}
.social_list{

}
.social_list a:not(:last-child){
margin-right: 10px;
}
.secure_payment{
height: 31px;
}
.copyright{
    margin-top: 86px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
}
.footer_menu_list li a:hover{
    color: rgba(213, 32, 71, 1);
}
.social_list a:hover svg path{
    fill: rgba(213, 32, 71, 1);
}
.technology_section{
    padding-top: 63px;
    padding-bottom: 108px;
}
.technology_list{
margin-top: 52px;
}

.technology_list li{
padding: 0 30px;
display: flex;
flex-direction: column;
margin-right: 30px;
width: calc((100% - 90px) / 3);
align-items: center;
}
.technology_list li:nth-child(4n+4){
    margin-right: 0
}
.technology_list li span:first-child{
    font-size: 100px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
}
.technology_icon{
width: 80px;
height: 80px;
background-repeat: no-repeat;
background-position: center;
margin-top: -60px
}
.technology_list li h3{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #101010
}
.technology_list li p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.technology_icon_1{
background-image: url(images/cloud_icon.svg);
}
.technology_icon_2{
    background-image: url(images/search_icon.svg);
}
.technology_icon_3{
    background-image: url(images/pdf_icon.svg);
}
.technology_icon_4{
    background-image: url(images/csv_icon.svg);
}
.app_download_section{
   
    padding-top: 122px;
    padding-bottom: 111px;
  
    background-color:  #ED4C5C;
    
}
.download_left{
padding-right: 15px;
width: 600px;
height: 450px;
margin-right: 15px;
padding-top: 150px;
} 
.download_right{
    width: 600px;
    height: 450px;
    
}
.video_photo{
    width: 650px;
    height: 450px;
  transform: translate(10%,-70%);
 
} 
.bottom_slider{
    width: 800px;
    height: 365px;
   transform: translateY(30%);
}
.download_left h4{
   
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.download_left p{
    margin-top: 24px;
   
    font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;
}
.download_left ul li:not(:last-child){
    margin-top: 40px;
    margin-right: 25px;
}
.download_left ul li:last-child{
    margin-top: 43px;
}
.contact_section{
    padding-top: 100px;
    padding-bottom: 150px;
}
.contact_left{
    width: 500px;
    height: 150px;
    margin-right: 125px;
}
.contact_right{
 width: 700px;
 height: 237px;
}
.contact_left h4{
   
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000
}
.contact_left p{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: justify;
    color: #000000;
}
.f_name{
    width: 255px;
    height: 60px;
    text-align: center;
    margin-right: 24px;
    border-radius: 6px;
    border: solid 1px #333333;
}
.l_name{
    width: 255px;
    height: 60px;
    text-align: center;
    border-radius: 6px;
    border: solid 1px #333333;
}
.names{
    width: fit-content;
}
.number{
    width: 540px;
    height: 60px;
    margin-top: 24px;
   
    border-radius: 6px;
    border: solid 1px #333333;
    display: block;
}
.selection{
    width: 540px;
    height: 60px;
    margin-top: 24px;
    
    border-radius: 6px;
    border: solid 1px #333333;
    display: block;
}
.submit_btn{
position: absolute;
width: 160px;
height: 50px;
top: 313px;

font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-transform: uppercase;
color: #FFFFFF;
background: #ED4C5C;
border: 1.5px solid #ED4C5C;
box-sizing: border-box;
border-radius: 6px
}
.dropdown{
    position: absolute;
    top: 30px;
    width: 150px;
    height: 150px;
   color: blue;
}
.dropdown a{
display: none;
margin-bottom: 10px;
text-transform: uppercase;
font-size: 14px;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #FFFFFF;
}
.drop_icon{
    position: relative;
    content:'' ;
    width: 30px;
    height: 9px;
    background-image: url(images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    
    transition: transform 0.2s;
}
.second_list:hover .dropdown a{
    display: block;
}
.second_list:hover .drop_icon{
    transform: rotate(180deg);
}
.mobile_nav{
    width: 46px;
    height: 46px;
    background-color: #f1f5f8;
    border-radius: 8px;
    display: none;
}
/**/
.mobile_menu_box{
position: fixed;
left: 0;
top: 0;
height: 100vh;
background-color: rgba(255, 255, 255, 0.5 );
transform: translateX(-100%);
transition: all 0.5s;
}
.mobile_menu_box.active{
    transform: translateX(0%);
}
.mobile_menu_in{
width: 296px;
background-color: rgba(213, 32, 71, 1);
padding: 12px 24px;
}
.mobile_menu_close_btn{
width: 46px;
height: 32px;
color: white;
font-size: 24px;
align-self: flex-end;
background-color: rgba(213, 32, 71, 1);
}
.mobile_menu{
margin-top: 15px;
}
.mobile_menu li{
margin-right: 0 !important;
}
.mobile_menu li:not(:last-child){
    margin-bottom: 10px;
}
.mobile_menu li a{

}
.fa-bars{
    font-size: 14px;
}
.bottom_slider{
    width: 780px;
}










